<div class="container">
  <h1 class="mt-4 mb-4">Public Recipes</h1>
  <% @public_recipes.each do |recipe| %>
    <div class="card mb-4">
      <div class="card-body">
        <%= link_to recipe_path(recipe) do %>
          <h5 class="card-title"><%= recipe.name %> by <%= recipe.user.name %></h5>
        <% end %>

        <% if can? :destroy, recipe %>
          <%= form_with(model: recipe, url: recipe_path(recipe), method: :patch) do |f| %>
              <%= f.submit "REMOVE", class: "btn btn-danger btn-sm" %>
          <% end %>
        <% end %>

        <p class="card-text">Total food items: <%= recipe.recipe_foods.length %></p>
        <p class="card-text">Total price: <%= recipe.recipe_foods.sum { |rf| rf.food.price * rf.quantity } %></p>
      </div>
    </div>
  <% end %>
</div>
