<div class="container custom-container mt-5">
  <%= link_to "Sign out", destroy_user_session_path,
        'data-turbo-method': :delete, class:"sign-out" %>
<ul>
  <div class="mb-5 d-flex justify-content-end">
    <%= link_to 'Add Food', new_food_path(@foods), class: 'btn btn-info' %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td>
          <%= form_for [@foods], method: :delete, data: {
          confirm: 'Are you sure?' } do |f| %> <%= f.hidden_field :food_id %>
          <%= f.submit 'Remove', class: 'btn btn-danger' %> <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
